.main__intro {
    padding-top: 38px;
    height: 562px;
    color: white;
    background: linear-gradient(90deg , var(--extra-color) 65.2% , transparent 65.2%), 100% 50% / 35% url('../../../images/main/partners-img.png') no-repeat;
}

@media (max-width: 1279px) {
    .main__intro {
        background: linear-gradient(90deg , var(--extra-color) 65%, transparent 65%), 106% 55%/ 44% url('../../../images/main/partners-img.png') no-repeat;
    }
}

@media (max-width: 1023px) {
    .main__intro {
        height: 697px;
        background: linear-gradient(90deg , var(--extra-color) 65.5%, transparent 65.5%), 161% top/ 71% url('../../../images/main/partners-img.png') no-repeat;
    }
}

@media (max-width: 767px) {
    .main__intro {
        height: 892px;
        background: linear-gradient(var(--extra-color) 75%, transparent 75%),center 174% / 100% url('../../../images/main/partners-img.png') no-repeat;
    }
}

@media (max-width: 479px) {
    .main__intro {
        height: 1062px;
        background: linear-gradient(var(--extra-color) 79%, transparent 79%),center 115% / 101% url('../../../images/main/partners-img.png') no-repeat;
    }
}
