.nav-bar__item {
    font-family: 'Didact Gothic', sans-serif;
    font-size: var(--links);
    margin-left: 40px;
}
@media (max-width: 1023px) {
    .nav-bar__item {
        margin-left: 20px;
    }
}