.main__companies {
    width: 565px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 52px;
    margin-left: 30px;
}

@media (max-width: 1023px) {
    .main__companies {
        display: grid;
        width: 318px;
        row-gap: 35px;
        margin-left: 0;
        grid-template: repeat(3,1fr) / repeat(2,1fr);
    }
}
@media (max-width: 479px) {
    .main__companies {
        width: 284px;
        justify-items: center;
        grid-template: repeat(4,1fr) / 1fr;
    }
}