.nav-bar {
    position: relative;
}

@media (max-width: 767px) {
    .nav-bar::after {
        content: "";
        position: absolute;
        top: -76px;
        right: -5px;
        width: 60px;
        height: 60px;
        background: url('../../images/header/burger.svg') no-repeat;
    }
}