.main__wrap {
    margin-left: 10vw;
    max-width: 590px;
}
@media (max-width: 1640px) {
    .main__wrap {
        margin-left: 0vw;
    }
}
@media (max-width: 767px) {
    .main__wrap {
        width: auto;
        margin: 0 auto;
    }
}
@media (max-width: 479px) {
    .main__wrap {
        width: 284px;
    }
}