.nav-bar__list > .nav-bar__item_color_white {
    margin-left: 110px;
    color: white;
}

.nav-bar__list > .nav-bar__item_color_white ~ .nav-bar__item_color_white {
    margin-left: 40px;
}

.nav-bar__item_color_white:last-child {
    position: relative;
}

.nav-bar__item_color_white:last-child::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 100%;
    top: 10%;
    right: -36%;
    background: no-repeat url('../../../../images/header/Bottle\ of\ milk.svg');
}

@media (max-width: 1023px) {
    .nav-bar__list > .nav-bar__item_color_white ~ .nav-bar__item_color_white {
        margin-left: 20px;
    }
    .nav-bar__list > .nav-bar__item_color_white {
        margin-left: 50px;
    }
}